{% extends "base.html" %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block body %}
<ul>
  <li>First Name: {{ user.first_name }}</li>
  <li>Last Name: {{ user.last_name }}</li>
  <li>Email: {{ user.email }}</li>
</ul>
<a class="btn btn-primary" role="button" href="/users/{{user.username}}/feedback/add">Give use new feedback!</a>
<section>
  {% for item in user.feedbacks %}
    <p>
      <h3>{{ item.title }}</h3>
    </p>
    <p>
      {{ item.content }}
    </p>
    <a class="btn btn-secondary" href="/feedback/{{ item.id }}/update" role="button">Edit</a>
    <form action="/feedback/{{ item.id }}/delete" method="post">
      <button class="btn my-1 btn-danger" type="submit">Delete</button>
    </form>
    
    {% endfor %}

</section>
{% endblock %}